<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>chatpropertyfile</param-name>
        <!--  Name of the chat properties file. It contains the name and description of rooms.
		
-->
        <param-value>chat.properties</param-value>
    </context-param>
    <context-param>
        <param-name>saveRooms</param-name>
        <!-- The value of saveRooms can be set to true or false.
		If true then all new rooms added by users will be saved in chat.properties files.
		Default is false.
		
-->
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>adminEmail</param-name>
        <!-- Add an e-mail address of the administrator of this web site. 
-->
        <param-value>admin@website.com</param-value>
    </context-param>
    <context-param>
        <param-name>refreshAfter</param-name>
        <!-- Add time in seconds after which user's browser window will automatically refresh to display
		new messages.
		Default is 10 seconds.
		
-->
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <param-name>maxNoOfMessages</param-name>
        <!--  Maximum Number of messages that are stored in a list which is used to store all messages
		in a room. After this limit is reached older messages are removed.
		Default is 25
		
-->
        <param-value>25</param-value>
    </context-param>
    <!-- This is servlet 2.3 specific feature. It is used to remove a automactically
	user when his session expires. Without it sessions will expire but users' name will
	not be removed from list of all Chatters currently chatting.
-->
    <listener>
        <listener-class>sukhwinder.chat.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>sukhwinder.chat.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageChat</servlet-name>
        <servlet-class>sukhwinder.chat.servlet.ManageChatServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>saveInfo</servlet-name>
        <servlet-class>sukhwinder.chat.servlet.SaveInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaAlunos</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaAlunos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaRelatorioAluno</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaRelatorioAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaRelatorioGeral</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaRelatorioGeral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUploadArquivo</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletUploadArquivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRecuperaArquivo</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletRecuperaArquivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaEnvolvidoProjeto</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletDeletaEnvolvidoProjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaRanking</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaRanking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manageChat</servlet-name>
        <url-pattern>/servlet/manageChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/servlet/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveInfo</servlet-name>
        <url-pattern>/servlet/saveInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>br.com.senacrs.controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastraAluno</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCadastraAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastraProfessor</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCadastraProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBCProfessorDAO</servlet-name>
        <servlet-class>br.com.senacrs.dao.JDBCProfessorDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastraProjeto</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCadastraProjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaProjetos</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaProjetos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastraGrupo</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCadastraGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaGruposProjeto</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaGruposProjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVizualizaGrupo</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletVizualizaGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastraUsuarioGrupo</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCadastraUsuarioGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaProjetosUsuario</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaProjetosUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogaUsuario</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletLogaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaInformacoesProjeto</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaInformacoesProjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaCadastroAtividade</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaCadastroAtividade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastraAtividade</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCadastraAtividade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaCadastroTarefa</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaCadastroTarefa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastraTarefa</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCadastraTarefa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastraPerguntaFrequente</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCadastraPerguntaFrequente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaAtividades</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaAtividades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaInformacoesAtividade</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaInformacoesAtividade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaInformacoesTarefa</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaInformacoesTarefa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaPerguntasFrequentes</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaPerguntasFrequentes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaInformacoesPerguntaFrequente</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaInformacoesPerguntaFrequente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaInformacoesGrupo</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaInformacoesGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaInformacoesUsuario</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaInformacoesUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaGrupo</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletDeletaGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaUsuario</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletDeletaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaPerguntaFrequente</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletDeletaPerguntaFrequente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaAtividade</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletDeletaAtividade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaTarefa</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletDeletaTarefa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaEnvolvidoTarefa</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletDeletaEnvolvidoTarefa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaEnvolvidoAtividade</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletDeletaEnvolvidoAtividade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastraEnvolvidoAtividade</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCadastraEnvolvidoAtividade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaCadastroAluno</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaCadastroAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastraEnvolvidoTarefa</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCadastraEnvolvidoTarefa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaEnvolvidoGrupo</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletDeletaEnvolvidoGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastraEnvolvidoGrupo</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCadastraEnvolvidoGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaEditaPerguntaFrequente</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaEditaPerguntaFrequente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditaPerguntaFrequente</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletEditaPerguntaFrequente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaEditaUsuario</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaEditaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditaUsuario</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletEditaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaEditaProjeto</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaEditaProjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditaProjeto</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletEditaProjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaEditaAtividade</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaEditaAtividade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditaAtividade</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletEditaAtividade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaEditaTarefa</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaEditaTarefa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditaTarefa</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletEditaTarefa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaEditaGrupo</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaEditaGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditaGrupo</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletEditaGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaProjeto</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletDeletaProjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastraPapel</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCadastraPapel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaInformacoesPapel</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaInformacoesPapel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaPapel</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletDeletaPapel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditaPapel</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletEditaPapel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastraEnvolvidoPapel</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCadastraEnvolvidoPapel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaEnvolvidoPapel</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletDeletaEnvolvidoPapel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaEditaPapel</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaEditaPapel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaAlertas</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaAlertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEnviaAlerta</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletEnviaAlerta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaEnviaAlerta</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaEnviaAlerta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVizualizaCronograma</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletVizualizaCronograma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaPaginaInicialUsuario</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaPaginaInicialUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEnviaEmail</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletEnviaEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaForum</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaForum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastraTopico</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCadastraTopico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaTopico</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletDeletaTopico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaInformacoesTopico</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaInformacoesTopico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarregaEditaTopico</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletCarregaEditaTopico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditaTopico</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletEditaTopico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEnviaComentario</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletEnviaComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaComentario</servlet-name>
        <servlet-class>br.com.senacrs.servlet.ServletDeletaComentario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastraAluno</servlet-name>
        <url-pattern>/ServletCadastraAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastraProfessor</servlet-name>
        <url-pattern>/ServletCadastraProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDBCProfessorDAO</servlet-name>
        <url-pattern>/JDBCProfessorDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastraProjeto</servlet-name>
        <url-pattern>/ServletCadastraProjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaProjetos</servlet-name>
        <url-pattern>/ServletCarregaProjetos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastraGrupo</servlet-name>
        <url-pattern>/ServletCadastraGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaGruposProjeto</servlet-name>
        <url-pattern>/ServletCarregaGruposProjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVizualizaGrupo</servlet-name>
        <url-pattern>/ServletVizualizaGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastraUsuarioGrupo</servlet-name>
        <url-pattern>/ServletCadastraUsuarioGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaProjetosUsuario</servlet-name>
        <url-pattern>/ServletCarregaProjetosUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogaUsuario</servlet-name>
        <url-pattern>/ServletLogaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaInformacoesProjeto</servlet-name>
        <url-pattern>/ServletCarregaInformacoesProjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaCadastroAtividade</servlet-name>
        <url-pattern>/ServletCarregaCadastroAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastraAtividade</servlet-name>
        <url-pattern>/ServletCadastraAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaCadastroTarefa</servlet-name>
        <url-pattern>/ServletCarregaCadastroTarefa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastraTarefa</servlet-name>
        <url-pattern>/ServletCadastraTarefa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastraPerguntaFrequente</servlet-name>
        <url-pattern>/ServletCadastraPerguntaFrequente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaAtividades</servlet-name>
        <url-pattern>/ServletCarregaAtividades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaInformacoesAtividade</servlet-name>
        <url-pattern>/ServletCarregaInformacoesAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaInformacoesTarefa</servlet-name>
        <url-pattern>/ServletCarregaInformacoesTarefa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaPerguntasFrequentes</servlet-name>
        <url-pattern>/ServletCarregaPerguntasFrequentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaInformacoesPerguntaFrequente</servlet-name>
        <url-pattern>/ServletCarregaInformacoesPerguntaFrequente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaInformacoesGrupo</servlet-name>
        <url-pattern>/ServletCarregaInformacoesGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaInformacoesUsuario</servlet-name>
        <url-pattern>/ServletCarregaInformacoesUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaGrupo</servlet-name>
        <url-pattern>/ServletDeletaGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaUsuario</servlet-name>
        <url-pattern>/ServletDeletaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaPerguntaFrequente</servlet-name>
        <url-pattern>/ServletDeletaPerguntaFrequente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaAtividade</servlet-name>
        <url-pattern>/ServletDeletaAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaTarefa</servlet-name>
        <url-pattern>/ServletDeletaTarefa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaEnvolvidoTarefa</servlet-name>
        <url-pattern>/ServletDeletaEnvolvidoTarefa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaEnvolvidoAtividade</servlet-name>
        <url-pattern>/ServletDeletaEnvolvidoAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastraEnvolvidoAtividade</servlet-name>
        <url-pattern>/ServletCadastraEnvolvidoAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaCadastroAluno</servlet-name>
        <url-pattern>/ServletCarregaCadastroAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastraEnvolvidoTarefa</servlet-name>
        <url-pattern>/ServletCadastraEnvolvidoTarefa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaEnvolvidoGrupo</servlet-name>
        <url-pattern>/ServletDeletaEnvolvidoGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastraEnvolvidoGrupo</servlet-name>
        <url-pattern>/ServletCadastraEnvolvidoGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaEditaPerguntaFrequente</servlet-name>
        <url-pattern>/ServletCarregaEditaPerguntaFrequente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditaPerguntaFrequente</servlet-name>
        <url-pattern>/ServletEditaPerguntaFrequente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaEditaUsuario</servlet-name>
        <url-pattern>/ServletCarregaEditaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditaUsuario</servlet-name>
        <url-pattern>/ServletEditaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaEditaProjeto</servlet-name>
        <url-pattern>/ServletCarregaEditaProjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditaProjeto</servlet-name>
        <url-pattern>/ServletEditaProjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaEditaAtividade</servlet-name>
        <url-pattern>/ServletCarregaEditaAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditaAtividade</servlet-name>
        <url-pattern>/ServletEditaAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaEditaTarefa</servlet-name>
        <url-pattern>/ServletCarregaEditaTarefa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditaTarefa</servlet-name>
        <url-pattern>/ServletEditaTarefa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaEditaGrupo</servlet-name>
        <url-pattern>/ServletCarregaEditaGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditaGrupo</servlet-name>
        <url-pattern>/ServletEditaGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaProjeto</servlet-name>
        <url-pattern>/ServletDeletaProjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastraPapel</servlet-name>
        <url-pattern>/ServletCadastraPapel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaInformacoesPapel</servlet-name>
        <url-pattern>/ServletCarregaInformacoesPapel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaPapel</servlet-name>
        <url-pattern>/ServletDeletaPapel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditaPapel</servlet-name>
        <url-pattern>/ServletEditaPapel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastraEnvolvidoPapel</servlet-name>
        <url-pattern>/ServletCadastraEnvolvidoPapel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaEnvolvidoPapel</servlet-name>
        <url-pattern>/ServletDeletaEnvolvidoPapel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaEditaPapel</servlet-name>
        <url-pattern>/ServletCarregaEditaPapel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaAlertas</servlet-name>
        <url-pattern>/ServletCarregaAlertas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEnviaAlerta</servlet-name>
        <url-pattern>/ServletEnviaAlerta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaEnviaAlerta</servlet-name>
        <url-pattern>/ServletCarregaEnviaAlerta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVizualizaCronograma</servlet-name>
        <url-pattern>/ServletVizualizaCronograma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaPaginaInicialUsuario</servlet-name>
        <url-pattern>/ServletCarregaPaginaInicialUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEnviaEmail</servlet-name>
        <url-pattern>/ServletEnviaEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaForum</servlet-name>
        <url-pattern>/ServletCarregaForum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastraTopico</servlet-name>
        <url-pattern>/ServletCadastraTopico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaTopico</servlet-name>
        <url-pattern>/ServletDeletaTopico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaInformacoesTopico</servlet-name>
        <url-pattern>/ServletCarregaInformacoesTopico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaEditaTopico</servlet-name>
        <url-pattern>/ServletCarregaEditaTopico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditaTopico</servlet-name>
        <url-pattern>/ServletEditaTopico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEnviaComentario</servlet-name>
        <url-pattern>/ServletEnviaComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaComentario</servlet-name>
        <url-pattern>/ServletDeletaComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaAlunos</servlet-name>
        <url-pattern>/ServletCarregaAlunos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaRelatorioAluno</servlet-name>
        <url-pattern>/ServletCarregaRelatorioAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaRelatorioGeral</servlet-name>
        <url-pattern>/ServletCarregaRelatorioGeral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUploadArquivo</servlet-name>
        <url-pattern>/ServletUploadArquivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRecuperaArquivo</servlet-name>
        <url-pattern>/ServletRecuperaArquivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaEnvolvidoProjeto</servlet-name>
        <url-pattern>/ServletDeletaEnvolvidoProjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarregaRanking</servlet-name>
        <url-pattern>/ServletCarregaRanking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/Error.jsp</location>
    </error-page>
</web-app>
